@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base{
    @font-face {
        font-family: 'Metropolis-Regular';
        font-style: normal;
        font-weight: 400;
        src: 
            url('../fonts/Metropolis-Regular.ttf')  format('truetype'),
            url('../fonts/Metropolis-Regular.woff') format('woff');
    }

    @font-face {
        font-family: 'Metropolis-Bold';
        font-style: normal;
        font-weight: 400;
        src: 
            url('../fonts/Metropolis-Bold.ttf')  format('truetype'),
            url('../fonts/Metropolis-Bold.woff') format('woff');
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-heading;
    }

    body {
        @apply font-sans;
    }
}